@charset "UTF-8";
html {
  font-size: 62.5%; }

/*
xs 0 - 576px Smartphone 
sm 576-768px Smartphone Landscape
md 768-992px Tablets
lg 992-1200px Desktop
xl 1200 + Large Desktops

*/
.background-image {
  background-position: center;
  background-size: cover; }
  .background-image-fixed {
    background-position: center;
    background-size: cover;
    background-attachment: fixed; }

.background-gris {
  background-color: #141414 !important;
  color: white !important; }

.background-rojo {
  background-color: #c7343b !important;
  color: white !important; }

.background-negro {
  background-color: #000000 !important;
  color: white !important; }

.background-blanco {
  background-color: #ffffff !important;
  color: #000000 !important; }

.block-image {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2rem; }
  .block-image-spacer {
    width: 100%;
    height: 0rem;
    margin-bottom: 2rem; }
    @media (min-width: 992px) {
      .block-image-spacer {
        height: 10rem; } }
  .block-image-big {
    width: 100%;
    height: 30rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 2rem; }

.boton_segmento {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2rem;
  color: white;
  background-size: 100%;
  filter: saturate(0);
  transition: filter .6s, background-size .6s;
  cursor: pointer; }
  .boton_segmento:hover {
    color: white;
    filter: saturate(100%);
    transition: filter .6s, background-size .6s;
    background-size: 110%; }
  .boton_segmento-spacer {
    width: 100%;
    height: 0rem;
    margin-bottom: 2rem; }
    @media (min-width: 992px) {
      .boton_segmento-spacer {
        height: 10rem; } }

hr {
  background-color: #141414;
  height: 1px;
  width: 100%; }

.layout-box {
  width: 100%;
  padding: 2rem 15%; }
  .layout-box-left {
    width: 100%;
    padding: 15px 5px; }
    @media (min-width: 992px) {
      .layout-box-left {
        padding: 8rem 2rem 8rem 15%; } }
  .layout-box-right {
    width: 100%;
    padding: 15px 5px; }
    @media (min-width: 992px) {
      .layout-box-right {
        padding: 8rem 15% 8rem 2rem; } }
  .layout-box-fat {
    width: 100%;
    padding: 15px 5px; }
    @media (min-width: 992px) {
      .layout-box-fat {
        padding: 8rem 8rem; } }
  .layout-box-noheight {
    width: 100%;
    padding: 0 8rem; }

.layout-box-small {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem; }

.layout-banner {
  padding: 5rem 0; }

.flex-row {
  display: flex;
  flex-flow: column !important; }
  @media (min-width: 992px) {
    .flex-row {
      flex-flow: row !important; } }

.flex-row-reverse {
  display: flex;
  flex-flow: column !important; }
  @media (min-width: 992px) {
    .flex-row-reverse {
      flex-flow: row-reverse !important; } }

.flex-col {
  display: flex;
  flex-flow: column; }

.flex-col {
  justify-content: center;
  align-items: center; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-30 {
  flex-basis: 30%; }

.flex-50 {
  flex-basis: 50%; }

.text-justify {
  text-align: justify; }

.fondo {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: -10; }

.sombra-diagonal {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.13); }

.sombra-inferior {
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.13); }

.sombra-superior {
  -webkit-box-shadow: 5px 10px 5px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 5px 10px 5px 10px rgba(0, 0, 0, 0.13);
  box-shadow: 5px 10px 5px 10px rgba(0, 0, 0, 0.13); }

.invalid {
  color: red;
  font-size: 1.2rem; }

.valid {
  color: green;
  font-size: 1.2rem; }

.display-hide {
  display: none; }

.display-show {
  display: block; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/ }

.dropdown-menu {
  top: auto; }

@font-face {
  font-family: 'TypewriteCondensed';
  src: url("typewcond_regular-webfont.woff") format("woff"), url("typewcond_demi-webfont.woff") format("woff"), url("typewcond_bold-webfont.woff") format("woff"); }

@font-face {
  font-family: 'SF Atarian System';
  src: url("../font/SFAtarianSystem.woff2") format("woff2"), url("../font/SFAtarianSystem.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../font/MyriadPro-Regular.woff2") format("woff2"), url("../font/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

html * {
  font-size: 1.6rem; }

h1 {
  font-size: 3.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    h1 {
      font-size: 5.6rem; } }

h2 {
  font-size: 2.6rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    h2 {
      font-size: 4.4rem; } }

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    h3 {
      font-size: 3.2rem; } }

h4 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  line-height: 150%; }
  @media (min-width: 992px) {
    h4 {
      font-size: 2rem;
      font-weight: normal; } }

p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 150%; }
  @media (min-width: 992px) {
    p {
      font-size: 1.6rem;
      font-weight: 400; } }

.small {
  font-size: 1.2rem; }

ul {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }
  @media (min-width: 992px) {
    ul {
      font-size: 1.6rem;
      font-weight: 400; } }

.rojo {
  color: #c7343b !important; }

.text-red {
  color: #c7343b !important; }

.text-grey {
  color: #b1b1b0 !important; }

.text-small {
  font-size: 1.4rem; }

.text-thin {
  font-weight: 300; }

html {
  font-size: 62.5%; }

body {
  font-size: 62.5%;
  font-family: TypewriteCondensed;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.contenedor {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.overlay {
  position: relative;
  transition: all 1s; }

.overlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s; }

.background_gris {
  background-color: #464f55;
  color: white; }

.background_grisoscuro {
  background-color: #141414;
  color: white; }
  .background_grisoscuro hr {
    background-color: #b1b1b0; }

.form-control {
  font-size: 1.6rem; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.segment_paralax {
  width: 100%;
  min-height: 50vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.load {
  animation: transition 2000ms;
  position: relative;
  transition: ease-out;
  /*entrada titulos con movimiento*/ }

@keyframes transition {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

/*capa mas adelante (piedrita)*/
.load1 {
  animation: transition1 2000ms;
  position: relative;
  transition: ease-out; }

@keyframes transition1 {
  from {
    transform: translatey(50px); }
  to {
    transform: translatey(0); } }

/*segunda capa (rio)*/
.load2 {
  animation: transition2 2000ms;
  position: relative;
  transition: ease-out; }

@keyframes transition2 {
  from {
    transform: translatey(40px); }
  to {
    transform: translatey(0); } }

/*entrada titulos con movimiento (texto)*/
.load3 {
  animation: transition3 3000ms;
  position: relative;
  transition: ease-out; }

@keyframes transition3 {
  from {
    opacity: 0;
    transform: translateX(20px); }
  33% {
    opacity: 0;
    transform: translateX(20px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

/*entrada titulos con movimiento (termo)*/
.load4 {
  animation: transition4 2000ms;
  position: relative;
  transition: ease-out; }

@keyframes transition4 {
  from {
    transform: translatey(30px); }
  to {
    transform: translatey(0); } }

/*entrada titulos con movimiento (fondo)*/
.load5 {
  animation: transition5 2000ms;
  position: relative;
  transition: ease-out; }

@keyframes transition5 {
  from {
    transform: translatey(0); }
  to {
    transform: translatey(0); } }

.layer-5 {
  z-index: -5; }

.layer-4 {
  z-index: -4; }

.layer-3 {
  z-index: -3; }

.layer-2 {
  z-index: -3; }

.layer-1 {
  z-index: -3; }

.segment_actividad_comentarios {
  display: flex;
  flex-flow: column;
  padding: 8rem; }
  .segment_actividad_comentarios h4 {
    align-self: flex-end; }

.login__container {
  background-color: #141414;
  padding: 5rem; }

.login__input {
  margin-bottom: 1rem;
  min-width: 35rem; }

.segment_cabecera {
  min-height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding: 30px 20% 100px 20%;
  width: 100%; }
  .segment_cabecera_home {
    min-height: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    padding: 30px 20% 100px 20%;
    width: 100%; }
  .segment_cabecera_contenedor {
    display: flex;
    flex-flow: column; }
  .segment_cabecera_opciones {
    display: flex;
    flex-flow: row; }
    .segment_cabecera_opciones_boton {
      height: 100%;
      width: 100%;
      display: flex;
      padding: 5px;
      justify-content: center;
      align-items: center;
      flex: 1; }
      .segment_cabecera_opciones_boton button {
        height: 60%;
        width: 60%; }
    .segment_cabecera_opciones_texto {
      flex: 4; }

.invitado {
  display: flex;
  flex-flow: row; }
  .invitado_imagen {
    margin-right: 15px; }
    .invitado_imagen img {
      border-radius: 50%;
      width: 70px; }

.segment_proximos_eventos {
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
  @media (min-width: 992px) {
    .segment_proximos_eventos {
      flex-flow: row; } }

.segment_resumen {
  text-align: center; }
  .segment_resumen_descripcion {
    display: flex;
    flex-flow: column;
    padding: 5rem 20%;
    align-items: center;
    min-height: 50vw;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    background-size: cover;
    background-attachment: inherit; }
    @media (min-width: 992px) {
      .segment_resumen_descripcion {
        background-attachment: fixed;
        flex-flow: row; } }
    .segment_resumen_descripcion div {
      margin-right: 5rem; }
      .segment_resumen_descripcion div:last-of-type {
        margin-right: 0; }

.segment_transmision_video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }
  .segment_transmision_video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.breadcrumb {
  padding-left: 15%;
  background-color: black;
  font-size: 1.6rem; }
  .breadcrumb-item a {
    color: #c7343b; }
  .breadcrumb-item.active {
    color: white; }

.nav_lateral {
  min-width: 15rem;
  display: flex;
  flex-flow: column;
  background-color: #464f55; }
  .nav_lateral__contentarea {
    padding: 2rem; }
  .nav_lateral__item {
    border-bottom: darkgrey; }

.btn {
  border-style: none;
  background-color: #464f55;
  color: white;
  font-size: 1.8rem; }
  .btn:hover {
    background-color: #b1b1b0; }
  .btn-rojo {
    background-color: #c7343b; }
    .btn-rojo:hover {
      background-color: #b1b1b0; }
  .btn-primary {
    background-color: #464f55; }
    .btn-primary:hover {
      background-color: #b1b1b0; }
  .btn-secondary {
    background-color: #c7343b; }
    .btn-secondary:hover {
      background-color: #b1b1b0; }
  .btn-red {
    background-color: #c7343b;
    color: white; }
  .btn-disabled {
    background-color: #b1b1b0;
    color: white; }
    .btn-disabled:hover {
      background-color: #b1b1b0;
      color: white; }
  .btn-pago {
    width: 50%;
    height: 4.2rem;
    font-size: 2.4rem;
    margin: 2rem; }
  .btn-fullwidth {
    width: 100%; }

.table {
  color: white; }

.card, .card_horizontal {
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: transparent;
  text-decoration: none;
  color: white;
  cursor: pointer; }
  .card:last-of-type, .card_horizontal:last-of-type {
    margin-right: 0; }
  .card:hover, .card_horizontal:hover {
    color: white; }
    .card:hover .card_image, .card_horizontal:hover .card_image {
      background-size: cover; }
    .card:hover .card_image_type, .card_horizontal:hover .card_image_type {
      background-color: #464f55; }
  .card__container, .card__container--wrap, .card__container--list {
    display: flex;
    flex-flow: row; }
    @media (min-width: 992px) {
      .card__container, .card__container--wrap, .card__container--list {
        flex-flow: column; } }
    .card__container--wrap {
      flex-flow: wrap;
      flex-wrap: wrap; }
    .card__container--list {
      flex-flow: column; }
  .card_image {
    min-height: 50vw;
    background-position: center;
    background-size: cover;
    transition: background-size 100ms; }
    @media (min-width: 992px) {
      .card_image {
        min-height: 20vw; } }
    .card_image_type {
      background-color: #c7343b;
      align-self: end;
      top: 0;
      position: absolute;
      padding: 5px 10px;
      margin: 10px;
      width: fit-content;
      transition: background-color 100ms;
      font-size: 16px; }
  .card_description {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2rem;
    padding-right: 2rem; }
  .card_horizontal {
    flex: 1 1 40%;
    flex-flow: row;
    display: flex;
    min-height: 15rem; }
    .card_horizontal .card_image {
      height: 7rem;
      width: 7rem;
      background-position: center;
      background-size: cover;
      transition: background-size 100ms; }
      @media (min-width: 992px) {
        .card_horizontal .card_image {
          min-height: 7rem;
          min-width: 7rem; } }
      .card_horizontal .card_image_type {
        background-color: #c7343b;
        align-self: end;
        top: 0;
        position: absolute;
        padding: 5px 10px;
        margin: 10px;
        width: fit-content;
        transition: background-color 100ms;
        font-size: 16px; }

.video_container {
  position: relative;
  padding-bottom: 56.25%;
  /*panorámico*/
  padding-top: 25px;
  height: 0; }
  .video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.carousel-item {
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px 15%; }
  .carousel-item.active {
    flex-flow: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 15%; }

.carousel-container {
  min-height: 600px;
  width: 60%;
  margin: 0 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.fecha {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center; }

#gallery img {
  height: 75vw;
  object-fit: cover; }
  @media (min-width: 576px) {
    #gallery img {
      height: 35vw; } }
  @media (min-width: 992px) {
    #gallery img {
      height: 18vw; } }

.carousel-item img {
  height: 60vw;
  object-fit: cover; }
  @media (min-width: 576px) {
    .carousel-item img {
      height: 350px; } }

.footer {
  background-color: #141414;
  bottom: 0;
  width: 100%;
  margin-top: auto; }

.pregunta_container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media (min-width: 992px) {
    .pregunta_container {
      padding-top: 3rem;
      padding-bottom: 3rem; } }
  .pregunta_container h2 {
    padding-bottom: 3rem; }
  .pregunta_container h3 {
    padding-top: 3rem;
    padding-bottom: 3rem; }

.pregunta_form {
  display: flex;
  flex-flow: column; }

.navbar {
  background-color: black;
  padding: 1rem 4rem;
  z-index: 1000; }
  .navbar_navbar {
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between; }
    @media (min-width: 992px) {
      .navbar_navbar {
        flex-flow: row; } }
  .navbar-nav {
    margin-right: 0; }
  .navbar__container {
    justify-content: space-between;
    display: flex; }
  .navbar--small {
    display: block;
    width: 100%; }
    @media (min-width: 992px) {
      .navbar--small {
        display: none; } }
  .navbar--large {
    display: none;
    width: 100%; }
    @media (min-width: 992px) {
      .navbar--large {
        display: block; } }

.nav-link {
  font-size: 1.4rem;
  color: white;
  margin-left: .6rem; }
  .nav-link:hover {
    color: #c7343b; }

/* rojo: cf1617 
gris medio azuloso: 414e54*/
.spacer {
  height: 3rem; }
  @media (min-width: 992px) {
    .spacer {
      height: 10rem; } }

.graffiti_fondo {
  opacity: .1;
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  /* Your container needs a fixed height, and it 
     * needs to be taller than your tallest column. */
  padding: 3%;
  left: 0;
  z-index: -1; }

.item {
  width: 32%;
  margin-bottom: 2%;
  /* Optional */
  text-align: center; }

/* Re-order items into 3 rows */
.item:nth-child(3n+1) {
  order: 1; }

.item:nth-child(3n+2) {
  order: 2; }

.item:nth-child(3n) {
  order: 3; }

/* Force new columns */
.container::before,
.container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2; }

.modal {
  color: black; }

.segment_header {
  width: 100%; }

.segment_historia {
  display: block; }
  @media (min-width: 992px) {
    .segment_historia {
      display: flex; } }

.box {
  padding: 20px 10%; }

* a {
  text-decoration: none; }
  * a:hover {
    text-decoration: none; }
