.segment_cabecera{
    min-height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    padding:30px 20% 100px 20%;
    width:100%;

    &_home{
        min-height: 600px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
        padding:30px 20% 100px 20%;
        width:100%;
    }

    &_contenedor{
        display: flex;
        flex-flow: column;
    }
    &_titulo{

    }
    &_opciones{
        display: flex;
        flex-flow: row;
        &_boton{
            height: 100%;
            width: 100%;
            display: flex;
            padding:5px;
            justify-content: center;
            align-items: center;
            flex:1;
            & button{
                height: 60%;
                width: 60%;
            };
        }
        &_texto{
            flex:4;
        }
    }
}