.invitado{
    display: flex;
    flex-flow: row;
    &_imagen{
        margin-right: 15px;
        & img{
            border-radius: 50%;
            width: 70px;
        }
    }
    &_invitado_description{
        
    }
}