.segment_proximos{
    &_title{

    }
    &_eventos{
        display: flex;
        flex-flow: column;
        justify-content: space-between; 
        @include respond(lg) {
            flex-flow: row;
        }
    }

  }
  