.segment_resumen{
    text-align: center;
    &_descripcion{
        display: flex;
        flex-flow: column;
        padding:5rem 20%;
        align-items: center;
        min-height: 50vw;
        background-blend-mode: darken;
        background-color: rgba(0,0,0,0.8);
        background-position: center;
        background-size: cover;
        background-attachment: inherit;
    
        @include respond(lg) {
            background-attachment: fixed;
            flex-flow: row;
        }
    
        & div{
            margin-right:5rem;
    
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}