//MEDIA QUERY MANAGER

/*
xs 0 - 576px Smartphone 
sm 576-768px Smartphone Landscape
md 768-992px Tablets
lg 992-1200px Desktop
xl 1200 + Large Desktops

*/

@mixin respond($breakpoint) {

    @if $breakpoint==sm {
        @media (min-width: 576px) {
            @content;
        }
    }
    @if $breakpoint==md {
        @media (min-width: 768px) {
            @content;
        }
    }
    @if $breakpoint==lg {
        @media (min-width: 992px) {
            @content;
        }
    }
    @if $breakpoint==xl {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

// html {
//     //Define q es 1 rem
//     font-size: 62.5%;
//     height: 100%;
//     @include respond(xs) {
//         font-size: 50%;
//     }
//     @include respond(m) {
//         font-size: 56.2%;
//     }
//     @include respond(l) {
//         font-size: 70%;
//     }
//     @include respond(xl) {
//         font-size: 80%;
//     }
// }