.background{
    &-image{
        background-position: center;
        background-size: cover; 
        &-fixed{
            background-position: center;
            background-size: cover; 
            background-attachment: fixed;
        }
    }
    &-gris{
        background-color: $gris_oscuro !important;
        color: white !important;
    }
    &-rojo{
        background-color: $rojo !important;
        color: white !important;
    }
    &-negro{
        background-color: $negro !important;
        color: white !important;
    }

    &-blanco{
        background-color: $blanco !important;
        color: $negro !important;
    }
}

.block-image{
    width:100%;
    height: 20rem;
    margin-bottom:$padding-small;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: $padding-small;
    &-spacer{
        width:100%;
        height: 0rem;
        margin-bottom:$padding-small; 
        @include respond(lg) {
            height: 10rem;
        }
    }
    &-big{
        width:100%;
        height: 30rem;
        margin-bottom:$padding-small;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: $padding-small;
    }
}

.boton_segmento{
    width:100%;
    height: 20rem;
    margin-bottom:$padding-small;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: $padding-small;
    color: white;
    background-size: 100%;
    filter: saturate(0);
    transition: filter .6s, background-size .6s;
    cursor: pointer;
    &:hover{
        color: white;
        filter: saturate(100%);
        transition: filter .6s, background-size .6s;
        background-size: 110%;
    }
    &-spacer{
        width:100%;
        height: 0rem;
        margin-bottom:$padding-small; 
        @include respond(lg) {
            height: 10rem;
        }
    }
}

hr{
    background-color: $gris_oscuro;
    height: 1px;
    width: 100%;
}

.layout-box{
    width:100%;
    padding:$padding-small $padding15;
    &-left{
        width:100%;
        padding:15px 5px;
        @include respond(lg) {
            padding:$padding-big $padding-small $padding-big $padding15;
        }
    }
    &-right{
        width:100%;
        padding:15px 5px;
        @include respond(lg) {
            padding:$padding-big $padding15 $padding-big $padding-small;
        }
        
    }
    &-fat{
        width:100%;
        padding:15px 5px;
        @include respond(lg) {
            padding:$padding-big $padding-big;
        }
    }
    &-noheight{
        width:100%;
        padding:0 $padding-big;
    }
}

.layout-box-small{
    width:100%;
    padding-left:$padding-small; 
    padding-right:$padding-small; 
}

.layout-banner{
    padding: 5rem 0;
}


.flex-row{
    display: flex;
    flex-flow: column !important;
    @include respond(lg) {
        flex-flow: row !important;
    }
}

.flex-row-reverse{
    display: flex;
    flex-flow: column !important;
    @include respond(lg) {
        flex-flow: row-reverse !important;
    }
}

.flex-col{
    display: flex;
    flex-flow: column;
}

.flex-col{
    justify-content: center;
    align-items: center;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.flex-30{
    flex-basis: 30%;
}

.flex-50{
    flex-basis: 50%;
}

.text-justify{
    text-align: justify;
}



.fondo{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: -10;
}


.sombra-diagonal{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.13);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.13);
}

.sombra-inferior{
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.13);
}

.sombra-superior{
    -webkit-box-shadow: 5px 10px 5px 10px rgba(0,0,0,0.13);
    -moz-box-shadow: 5px 10px 5px 10px rgba(0,0,0,0.13);
    box-shadow: 5px 10px 5px 10px rgba(0,0,0,0.13);
}

.invalid{
    color: red;
    font-size: 1.2rem;
}

.valid{
    color: green;
    font-size: 1.2rem;
}

.display{
    &-hide{
        display: none;
    }
    &-show{
        display: block;
    }
}


// DROPDOWN HOVER

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      // pointer-events: none;
  }

  .dropdown-menu{
      top:auto;
  }
  