$rojo : #c7343b;
$azul : #464f55;
$gris_claro : #f6f6f6;
$gris_medio : #b1b1b0;
$gris_oscuro: #3c3c3b;
$gris_oscuro: #141414;
$blanco: #ffffff;
$negro: #000000;

$padding-small:2rem;
$padding:4rem;
$padding-big:8rem;
$padding15 : 15%;