html{
    font-size:62.5%;
}

body{
    font-size:62.5%;
    font-family: TypewriteCondensed;
    background-color: black;
    color: white;
    min-height: 100vh;
    display:flex; 
    flex-direction:column; 
}

.body__container{
    // padding-bottom: 35rem; //footer height
}

.contenedor{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: relative;
    transition: all 1s;
}

.overlay:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.8);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
// .overlay:hover:after {
//     opacity: 0;
// }

.background{
    &_negro{

    }
    &_gris{
        background-color: $azul;
        color: white;
    }

    &_grisoscuro{
        background-color: $gris_oscuro;
        color: white;
        & hr{
            background-color: $gris_medio;
        }
    }
}

.form-control{
    font-size:1.6rem;
}

// REMOVER FLECHAS DE INPUT
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}