.segment{
    &_paralax{
    width: 100%;
    min-height: 50vw;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
}
// -----------------------------------parallax----------------------------------------------
.load {
    animation: transition 2000ms;
    position: relative;
    transition: ease-out;
    /*entrada titulos con movimiento*/ }
  
  @keyframes transition {
    from {
      opacity: 0;
      transform: translateX(50px); }
    to {
      opacity: 1;
      transform: translateX(0); } }
  
  /*capa mas adelante (piedrita)*/
  .load1 {
    animation: transition1 2000ms;
    position: relative;
    transition: ease-out; }
  
  @keyframes transition1 {
    from {
      transform: translatey(50px); }
    to {
      transform: translatey(0); } }
  
  /*segunda capa (rio)*/
  .load2 {
    animation: transition2 2000ms;
    position: relative;
    transition: ease-out; }
  
  @keyframes transition2 {
    from {
      transform: translatey(40px); }
    to {
      transform: translatey(0); } }
  
  /*entrada titulos con movimiento (texto)*/
  .load3 {
    animation: transition3 3000ms;
    position: relative;
    transition: ease-out; }
  
  @keyframes transition3 {
    from {
      opacity: 0;
      transform: translateX(20px); }
    33% {
      opacity: 0;
      transform: translateX(20px); }
    to {
      opacity: 1;
      transform: translateX(0); } }
  
  /*entrada titulos con movimiento (termo)*/
  .load4 {
    animation: transition4 2000ms;
    position: relative;
    transition: ease-out; }
  
  @keyframes transition4 {
    from {
      transform: translatey(30px); }
    to {
      transform: translatey(0); } }
  
  /*entrada titulos con movimiento (fondo)*/
  .load5 {
    animation: transition5 2000ms;
    position: relative;
    transition: ease-out; }
  
  @keyframes transition5 {
    from {
      transform: translatey(0); }
    to {
      transform: translatey(0); } }





// .parallax{
//     min-height: 56vw;
//     height: auto;
//     overflow: hidden;
//     position: relative;
//     display:none;
//     @include responsive(m){
//         width: 100%;
//         display: block;
//       }

//     &_lowscreen{
//         min-height: 100vw;
//         height: auto;
//         overflow: hidden;
//         position: relative;
//         display:block;
//         @include responsive(m){
//             display: none;
//           }
//     }
//     &_layer{
//         &_full{
//             background-position: bottom center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             width: 100%;
//             min-height: 56vw;
//             height: auto;
//             position: fixed;
        
//             &_a{
//                 z-index: -2;
//             }
//             &_b{
//                 z-index: -3;
//             }
//             &_c{
//                 z-index: -1;
//             }
//             &_d{
//                 z-index: -5;
//             }
//             &_e{
//                 z-index: -6;
//             }
//         }
//         &_low{
//             background-position: bottom center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             width: 100%;
//             min-height: 170vw;
        
//             height: auto;
//             position: fixed;
        
//             &_a{
//                 z-index: -1;
//             }
//             &_c{
//                 z-index: -3;
//             }
//             &_e{
//                 z-index: -5;
//             }
//         }
//     }
//   }

  .layer-5 {
    z-index: -5; }
  
  .layer-4 {
    z-index: -4; }
  
  .layer-3 {
    z-index: -3; }
  
  .layer-2 {
    z-index: -3; }
  
  .layer-1 {
    z-index: -3; }