@font-face {
    font-family: 'TypewriteCondensed';
    src:
    url("typewcond_regular-webfont.woff") format("woff"),
    url("typewcond_demi-webfont.woff") format("woff"),
    url("typewcond_bold-webfont.woff") format("woff")
    }

    // font-family: 'Roboto', sans-serif;
    // font-family: 'Roboto Slab', serif;

@font-face {
    font-family: 'SF Atarian System';
    src: url('../font/SFAtarianSystem.woff2') format('woff2'),
        url('../font/SFAtarianSystem.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/MyriadPro-Regular.woff2') format('woff2'),
        url('../font/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html *{
    font-size: 1.6rem;
}

h1{
    font-size: 3.2rem;
    font-family: 'Roboto', sans-serif;

    font-weight: bold;
    text-transform: uppercase;
    @include respond(lg) {
        font-size: 5.6rem;
    }
}

h2{
    font-size: 2.6rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

    text-transform: uppercase;
    @include respond(lg) {
        font-size: 4.4rem;
    }
}

h3{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

    text-transform: uppercase;
    @include respond(lg) {
        font-size: 3.2rem;
    }
}

h4{
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;

    @include respond(lg) {
        font-size: 2rem;
        font-weight: normal;
    }
}

p{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    @include respond(lg) {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.small{
    font-size: 1.2rem;
}

ul{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    @include respond(lg) {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.rojo{
    color:$rojo !important;
}

.text{
    &-red{
        color:$rojo !important;
    }
    &-grey{
        color: $gris_medio !important
    }
    &-small{
        font-size: 1.4rem;
    }
}

.text-thin{
    font-weight: 300;
}