html{
  font-size: 62.5%;
}

@import "abstract/variables";
@import "abstract/mixins";
@import "abstract/utilities";

@import "base/typography";
@import "base/base";
@import "base/paralax";

@import "segments/actividad";
@import "segments/login";
@import "segments/cabecera";
@import "segments/invitado";
@import "segments/proximo";
@import "segments/populares";
@import "segments/resumen";
@import "segments/transmision";

@import "components/breadcrumb";
@import "components/lateral-nav";
@import "components/button";
@import "components/table";
@import "components/card";
@import "components/video";
@import "components/carousel";
@import "components/fechas";
@import "components/gallery";
@import "components/footer";
@import "components/pregunta";
@import "components/navbar";
    
/* rojo: cf1617 
gris medio azuloso: 414e54*/

.spacer{
  height: 3rem;
  @include respond(lg) {
    height: 10rem;
}
}

.graffiti_fondo {
    opacity:.1;
    font-weight: bold;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    /* Your container needs a fixed height, and it 
     * needs to be taller than your tallest column. */
     padding: 3%;
     left: 0;
     z-index: -1;
  }
  
  .item {
    width: 32%;
    margin-bottom: 2%; /* Optional */
    text-align: center;
  }
  
  /* Re-order items into 3 rows */
  .item:nth-child(3n+1) { order: 1; }
  .item:nth-child(3n+2) { order: 2; }
  .item:nth-child(3n)   { order: 3; }
  
  /* Force new columns */
  .container::before,
  .container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  .modal{
    color: black;
  }
.segment_header{
  width:100%;
}

.segment_historia{
  display: block;
    @include respond(lg) {
      display: flex;
  }
}

.historia_prev_content{
  
}

.box{
  padding:20px 10%;
}

* a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.descripcion{
}