.breadcrumb{
    padding-left:15%;
    background-color: black;
    font-size: 1.6rem;
    &-item{
        & a{
            color:$rojo;
        }

        &.active{
            color:white;
        }
    }
}