.btn{
    border-style: none;
    background-color: $azul;
    color: white;
    font-size: 1.8rem;
    &:hover{
        background-color: $gris_medio;
    }

    &-rojo{
        background-color: $rojo;
        &:hover{
            background-color: $gris_medio;
        }
    }
    
    &-primary{
        background-color: $azul;
        &:hover{
            background-color: $gris_medio;
        }
    }
    &-secondary{
        background-color: $rojo;
        &:hover{
            background-color: $gris_medio;
        }
    }
    &-red{
        background-color: $rojo;
        color: white;
    }

    &-disabled{
        background-color: $gris_medio;
        color: white;
        &:hover{
            background-color: $gris_medio;
            color: white;
        }
    }

    &-pago{
        width: 50%;
        height: 4.2rem;
        font-size: 2.4rem;
        margin: 2rem;
    }
    &-fullwidth{
        width:100%;
    }
}
