.card{
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    cursor: pointer;
    &:last-of-type{
        margin-right: 0;
    }
    &:hover{
        color: white;
        & .card_image{
            background-size: cover;
        }
        & .card_image_type{
            background-color: $azul;
        }
    }

    &__container{
        display:flex;
        flex-flow: row;
        @include respond(lg) {
            flex-flow: column;
        }
        &--wrap{
            @extend .card__container;
            flex-flow: wrap;
            flex-wrap: wrap;
        }
        &--list{
            @extend .card__container;
            flex-flow: column;
        }
    }

    &_image{
        min-height: 50vw;
        background-position: center;
        background-size: cover;
        transition: background-size 100ms;
        @include respond(lg) {
            min-height: 20vw;
        }
        &_type{
            background-color: $rojo;
            align-self: end;
            top: 0;
            position: absolute;
            padding:5px 10px;
            margin: 10px;
            width: fit-content;
            transition: background-color 100ms;
            font-size: 16px;
        }
    }

    &_description{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &_horizontal{
        @extend .card;
        flex: 1 1 40%;;
        flex-flow: row;
        display: flex;
        min-height: 15rem;
        & .card_image{
            height: 7rem;
            width: 7rem;
            background-position: center;
            background-size: cover;
            transition: background-size 100ms;
            @include respond(lg) {
                min-height: 7rem;
                min-width: 7rem;
            }
            &_type{
                background-color: $rojo;
                align-self: end;
                top: 0;
                position: absolute;
                padding:5px 10px;
                margin: 10px;
                width: fit-content;
                transition: background-color 100ms;
                font-size: 16px;
            }
        }
    }
}
