.carousel{
    &-item{
        background-position: center;
        background-size: cover;
        background-color: rgba(0,0,0,.8);
        background-blend-mode: darken;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 10px 15%;
        &.active{
            flex-flow: column;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 10px 15%;
        }
    }
    &-container{
        min-height: 600px;
        width:60%;
        margin:0 20%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}