.fecha{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    
    &_fecha{

    }

    &_modalidad{

    }

    &_disponibles{

    }

    &_boton{

    }
}