$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;
// Crop thumbnail images.
#gallery {
    img {
      height: 75vw;
      object-fit: cover;
      
      @media (min-width: $bootstrap-sm) {
        height: 35vw;
      }
      
      @media (min-width: $bootstrap-lg) {
        height: 18vw;
      }
    }
  }
  
  // Crop images in the coursel
  .carousel-item {
    img {
      height: 60vw;
      object-fit: cover;
      
      @media (min-width: $bootstrap-sm) {
        height: 350px;
      }
    }
  }