.nav_lateral{
    min-width: 15rem;
    display: flex;
    flex-flow: column;
    background-color: $azul;

    &__contentarea{
        padding: 2rem;
    }
    &__item{
        border-bottom: darkgrey;
    }
}