.navbar{
    background-color: black;
    padding:1rem $padding;
    z-index: 1000;

    &_navbar{
        display:flex;
        flex-flow: column-reverse;
        justify-content: space-between;
        @include respond(lg) {
            flex-flow: row;
        }
    }
    &-nav{
        margin-right: 0;
    }

    &__container{
        justify-content: space-between;
        display: flex;
    }

    &--small{
        display: block;
        width: 100%;
        @include respond(lg) {
            display: none;
        }
    }

    &--large{
        display: none;
        width: 100%;
        @include respond(lg) {
            display: block;
        }
    }
}

.nav{
    &-link{
        font-size: 1.4rem;
        color: white;
        margin-left: .6rem;
        &:hover{
            color: $rojo;  
        }
    }
}