.pregunta_container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include respond(lg) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    & h2{
        padding-bottom: 3rem;
    }
    & h3{

        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.pregunta_form{
    display: flex;
    flex-flow: column;
}